*{
    margin:0;
    padding:0;
    font-family: 'League Spartan',sans-serif;
}

.navbar{
    display: flex;
    background-color: antiquewhite;
    width:96.23%;
    padding:1rem 1.5rem 1rem 1.5rem;
    justify-content:space-between;
    align-items: center;
}
.logo{
    display: flex;
}
.logo h1{
    font-size:2.5rem;
    font-weight: 450;
}
.link-div{
    background-color: aqua;
    justify-content: center;
    align-content:center ;
}
#About-btn{
    padding:1rem;
    color:#000;
    border-style: none;
    border-radius: 2rem;
}
#About-btn:hover{
    cursor: pointer;
    background-color: #b2b2b2;
}
#Start-btn{
    padding:1rem;
    background-color: #000;
    color:#FFF;
    border-radius:2rem;
    border-style:none;
}
#Start-btn{
    cursor: pointer;
    background-color: #1c1c1c;
}